<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406171643559-pbjpg3j5uo77t8jkp4q42q54tm7hg5al.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406171643559-pbjpg3j5uo77t8jkp4q42q54tm7hg5al</string>
	<key>API_KEY</key>
	<string>AIzaSyCJjH1tRyJ6DbdIMszxdioFBTSN-LanQyg</string>
	<key>GCM_SENDER_ID</key>
	<string>406171643559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lifexlane</string>
	<key>PROJECT_ID</key>
	<string>lifexlane-sk8052</string>
	<key>STORAGE_BUCKET</key>
	<string>lifexlane-sk8052.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406171643559:ios:9db38457da9cf7ecaef582</string>
</dict>
</plist>